---
- name: Creating VM instances GCP
  hosts: localhost
  become: yes
  roles:
    - createVM_builder
    - createVM_production


- name: Configure SSH
  hosts:
    - build_srv
    - prod_srv
  become: yes
  tasks:
  - name: Create a 2048-bit SSH key for user root in ~root/.ssh/id_rsa
    user:
      name: root
      generate_ssh_key: yes
      ssh_key_bits: 2048
      ssh_key_file: .ssh/id_rsa


  - name: fetch all public ssh keys
    shell: cat ~/.ssh/id_rsa.pub
    register: ssh_keys
    tags:
      - ssh

  - name: check keys
    debug: msg="{{ ssh_keys.stdout }}"
    tags:
      - ssh

  - name: deploy keys on all servers
    authorized_key: user=root key="{{ item[0] }}"
    delegate_to: "{{ item[1] }}"
    with_nested:
      - "{{ ssh_keys.stdout }}"
      - "{{groups['clusters']}}"
    tags:
      - ssh


- name: Assembly of the project
  hosts: build_srv
  become: yes
  roles:
    - app_build

- name: Launch project
  hosts: prod_srv
  become: yes
  roles:
    - app_production